* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'Roboto';
}

body {
    width: 1200px;
    margin: auto;
    background-color: #837FB1;
}

.container {
    background-color: #212931;
    width: 700px;
    height: 360px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    margin: auto;
    padding: 20px;
}

.img {
    background-image: url(./assets/Group\ 15.svg);
    background-repeat: no-repeat;
    width: 57px;
    height: 13px;
    background-size: contain;
}

h1 {
    font: 400 48px 'Roboto';
    text-align: center;
    color: #FFFFFF;
}

.container .quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
}

p {
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    font: 400 20px 'Roboto';
}